<h1>Angular Basic Technique</h1>
<app-navbar></app-navbar>
<app-header></app-header>
<h2>{{title1}}</h2><!--String Interpolation-->
<p>{{ 3+1 }}</p>

<img src="{{imgUrl}}" alt="Image"><br><!--SI-->
<img [src] = " imgUrl1" alt=""><br><!--Property Binding-->

<button disabled="{{isDisabled}}" >Disable using string Interpolation </button><br>
<button [disabled]="isDisabled">Disable Using Property Binding</button><br>

<!--CLASS BINDING-->

<button [class.active]="isActive" 
[class.no-active] ="!isActive"
[class.active-border] ="isActive"
[class.no-active-border]="!isActive"
>Click Me</button><br><br>

<!--Style Binding-->
<button [class.apple]="fruitName == 'Apple'">Fruit Ninja</button>
<br><br>
<button [style.backgroundColor]="isActive? 'yellow':'green'">Click</button><br><br>
<button 
[style.backgroundColor]="isActive? 'yellow':'green'"
[style.border]="isActive? '3px solid green' :'red'"

>Click</button><br>
<br>

<button [class.active]="isActive">Class Binding</button>
<br><br>
<!--Event Binding-->
<button (click)="buttonclick()">click me</button><br><br>
<button (mouseover)="buttonclick()">click me</button><br><br>

<input type="text" (keyup)="keyEnter()"><br><br>

<input type="text" (keyup)="KeyEnter($event)"><br><br>
<!--Event Filtering-->
<input type="text"(keyup.enter)="keyupFiltering()"><br><br>
<!--<input type="text"(keyup.a)="keyupFiltering"><br>-->
<input type="text"(keyup.enter)="keyupfiltering(user)" #user id="userInput"><br><br>

<!--Two way Data Binding-->
<input type="text" [value]="userName" #username (keyup.enter)="updateUserName(username)"><br>

<input type="text" [(ngModel)]="userName" >
  <h3>{{userName}}</h3>

                    <!--One-way vs Two-way Data Binding-->
  <!--01<input type ="text" value='one way data binding'>-->
  <!--<input type ="text" [value]='textValue'>-->
  <input type ="text" [value]='textValue' (keyup.enter)="onKeyup()"><br>

  <!--Using Two Way Data Binding-->
  <input type="text" [(ngModel)] = 'textValue' (keyup.enter)="onKeyup()">

<!-------------------Angular Directive----------------------->
 
<!--01.<h2>{{UserName}}</h2>-->
<!---old way-->
<h2 *ngIf="isLoggedIn; else message ">{{UserName}}</h2><br>

<h4 *ngIf="!isLoggedIn">User is not logged in </h4>

<ng-template #message>
  <h4>User is not logged in(Loaded using ng-template)</h4>
</ng-template>


<!--@ngIf new way-->

@if(isLoggedIn){
  <h3 *ngIf="isLoggedIn">{{UserName}}</h3><br>

}
<!-----Approach of else-->
@else {
  <h4>User is not logged in(loaded using else syntax block)</h4>

}
<!-----Approach of else-->
@if(!isLoggedIn){
  <h4>User is not logged in(loaded using if syntax block)</h4>
}
 
<!-----Multiple Condition-->
<h4 *ngIf = "isAdmin" >Welcome Admin</h4>
<h4 *ngIf = "isMember" >Welcome Member</h4>
<h4 *ngIf= "isGuest" >Welcome Guest</h4>

<!---------Myltiple Condition *ngIf-Else-->
<h4 *ngIf= "isAdmin; else memberMessage">Welcome Admin</h4>
<ng-template #memberMessage>
      <!--01.<h4 >Welcome Member</h4>-->
      <!--02.<h4 *ngIf="isMember">Welcome Member</h4>-->
     <!--03--> <h4 *ngIf="isMember; else guestMessage ">Welcome Member</h4>
      

  </ng-template>

  <ng-template #guestMessage>
    <!--03-->
      <!--<h4 >Welcome Guest</h4>-->
      <h4 *ngIf="isGuest">Welcome Guest</h4>
  </ng-template>

  <!--@if,@else syntax Approach-->
  @if (isAdmin) {
    <h4 >Welcome Admin</h4>
  }
  @else if (isMember) {
      <h4 >Welcome Member</h4>
    }
  @else if (isGuest) {
    <h4 >Welcome Guest</h4>
  }

  
